<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.epf.jestock">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.Stetho"
        android:allowBackup="true"
        android:icon="@mipmap/jestock"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jestock_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".AccueilActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ConnexionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".ListDeficitActivity"></activity>
        <activity android:name=".EmpruntsActivity" />
        <activity android:name=".AfficheInfoCarteEtu_Activity" />
        <activity android:name=".RenduMaterielActivity" />

    </application>

</manifest>